.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #212529;
  background-image: radial-gradient(rgba(255, 0, 255, 0.2) 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: #e5e5f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInRight {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(20px);
  }
}

.scrollable-column {
  max-height: 100vh;
  overflow-y: auto;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cb7cff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card-hover:hover {
  box-shadow: 0 0 .5rem .5rem rgba(255, 0, 255, 0.25);
  transition: box-shadow 0.3s ease;
  background-color: #3a3f4b67 !important;
}

.card-hover:hover .card-title {
  color: #cb7cff !important;
  transition: .2s ease;
}

.card-hover:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrollable-column p {
  all: unset;
  display: block;
  margin-bottom: 1rem;
}

.scrollable-column section {
  scroll-margin-top: 400px; 
}

h3{
  padding-top:.5em;
  padding-bottom: .5em;
}

.text-purple{
  color: #cb7cff !important;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: hidden;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 320px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.main-content section {
  scroll-margin-top: 80px;
}

.social-icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  color: #f1e2ff;
}

.nav-link-custom.active {
  color: #f1e2ff !important;
  font-weight: bold;
  border-left: 4px solid #cc66ff;
  transition: .2s ease-in-out;
}

.nav-link-custom:hover{
  color: #f1e2ff !important;
  transition: color .3s ease;
}

.sticky{
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.stat {
  font-size: 8em;
  font-weight: bolder;
}